<ion-header>
    <ion-navbar>
        <!--<ion-icon name="menu" menuToggle padding></ion-icon>-->
        <ion-title>REQUESTS</ion-title>
    </ion-navbar>
</ion-header>
<ion-content *ngIf="_transactions?.data" padding>
    <ion-list *ngFor="let transaction of _transactions.data">
        <ion-item *ngIf="transaction.request_type == 1" (click)="showConfirm(transaction?.id)">
            <ion-thumbnail item-left>
                <img src="{{ transaction?.location?.file_path }}" *ngIf="transaction.location?.file_path">
                <img src="assets/img/b_no_image_icon.gif">
            </ion-thumbnail>
            <h2>Destination : {{ transaction.location?.name }} </h2>
            <p>Price : {{ transaction?.price | currency:'MYR':true:'1.2-2' }}</p>
            <p>Pickup Time : <br>{{ transaction?.pickup_time | date:'dd-MMMM-y HH:mm a' }}</p>
            <p>Pickup Location : {{ transaction?.pickup_location }}</p>
        </ion-item>
        <ion-item *ngIf="transaction.request_type == 2" (click)="showConfirm(transaction?.id)">
            <ion-thumbnail item-left>
                <img src="assets/img/transportation.png">
            </ion-thumbnail>
            <h2>Rent Duration : {{ transaction.duration }}</h2>
            <p>Pickup Location : {{ transaction?.pickup_location }}</p>
            <p>Pickup Time : {{ transaction?.pickup_time }}</p>
            <p>Price : RM {{ transaction?.price }}</p>
        </ion-item>
    </ion-list>
    <ion-list>
        <h1 *ngIf="_transactions.data.length < 1">No transactions made yet</h1>
    </ion-list>
</ion-content>
<ion-content *ngIf="_transactions == null" padding>
    <h1>No request at the moment</h1>
</ion-content>