  // page-login {
  //   ion-content {
  //     background: linear-gradient(to bottom, rgba(255, 0, 0, 0), $darkest-green);
  //     background-size: 100% 100%;
  //   }
  //   .login {
      img {
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
      }
  //     ion-list {
  //       ion-input {
  //         border: 3px solid $white;
  //         margin-bottom: 20px;
  //         padding-left: 20px;
  //         color: $white;
  //          ::-moz-placeholder {
  //           color: $white;
  //         }
  //          :-ms-input-placeholder {
  //           color: $white;
  //         }
  //          ::-webkit-input-placeholder {
  //           text-indent: 0;
  //           color: $white;
  //         }
  //       }
  //       ion-item {
  //         background-color: transparent;
  //       }
  //     }
  //   }
  // }