<ion-header>
    <ion-navbar>
        <!--<ion-icon name="menu" menuToggle padding></ion-icon>-->
        <ion-title>GET A RIDE</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <br>
    <br>
    <ion-list>
        <!--<ion-searchbar placeholder="Search location...">-->
        <!--</ion-searchbar>-->
        <!--<br>
        <button ion-button full class="input" *ngIf="_pickup_time == null" (click)="presentModalChooseTime()">Choose Pickup Time</button>
        <button ion-button full class="input" *ngIf="_pickup_time != null" color="secondary" (click)="presentModalChooseTime()">
            Pickup At : {{ _pickup_time }}
        </button>
        <br>
        <button ion-button full class="input" *ngIf="_location == null" (click)="presentModalChooseLocation()">Choose Destination</button>
        <button ion-button full class="input" *ngIf="_location != null" color="secondary" (click)="presentModalChooseLocation()">
            Destination : {{ _location }} <br>
            Price : RM {{ _price }}
        </button>
        <br>
        <button ion-button full class="input" *ngIf="_pickup_location == null" (click)="presentModalChoosePickupLocation()">Choose Pickup Location</button>
        <button ion-button full class="input" *ngIf="_pickup_location != null" color="secondary" (click)="presentModalChoosePickupLocation()">
            Pickup At : {{ _pickup_location }}
        </button>
        <br>-->
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label stacked style="font-size: large" color="primary">Choose Pickup Time</ion-label>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item>
                    <ion-label>Date</ion-label>
                    <ion-datetime displayFormat="MMMM DD" pickerFormat="DD MMMM" [(ngModel)]="localISOTime"></ion-datetime>
                </ion-item>
            </ion-col>
            <ion-col col-6>
                <ion-item>
                    <ion-label>Time</ion-label>
                    <ion-datetime displayFormat="HH:mm a" pickerFormat="HH mm a" [(ngModel)]="localISOTime"></ion-datetime>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label stacked style="font-size: large" color="primary">Choose Pickup Location</ion-label>
                    <ion-input (focusout)="getLatLng()" [(ngModel)]="_pickup_location" name="_pickup_location" placeholder="Click the locate button to get your current location" type="text" required>
                    </ion-input>
                    <button ion-button item-right (click)="getLatLng()">
                    <ion-icon name="locate"></ion-icon>
                </button>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col col-12>
                <ion-item>
                    <ion-label style="font-size: large" color="primary" *ngIf="_location == null">
                        Choose Destination
                    </ion-label>
                    <ion-label *ngIf="_location != null">
                        Destination : {{ _location }} <br> Price : {{ _price | currency:'MYR':true:'1.2-2' }}
                    </ion-label>
                    <button ion-button item-right outline (click)="presentModalChooseLocation()">
                        <ion-icon name="create"></ion-icon>
                        </button>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-list>

    <ion-footer>
        <ion-toolbar>
            <ion-title>
                <button ion-button full class="input" (click)="submitGetRide()">SUBMIT</button>
            </ion-title>
        </ion-toolbar>
    </ion-footer>

</ion-content>