
<ion-header>
    <ion-navbar menuToggle>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>VERIFY AN IMAGE</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-label *ngIf="_checkPrivate" color="blue">Public</ion-label>
            <ion-label *ngIf="!_checkPrivate">Private</ion-label>
            <ion-toggle value="foo" checked="{{ _checkPrivate }}" (ionChange)="checkClick()"></ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>Select an image from your phone or take a picture</ion-label>
        </ion-item>
            <input type="file" accept="image/*">
    </ion-list>
</ion-content>
