<ion-header>
    <ion-navbar>
        <!--<ion-icon name="menu" menuToggle padding></ion-icon>-->
        <ion-title>MY TRANSACTION</ion-title>
    </ion-navbar>
</ion-header>
<ion-content *ngIf="_transactions?.data" padding>
    <ion-list *ngFor="let transaction of _transactions.data">
        <ion-item *ngIf="transaction.request_type == 1">
            <ion-thumbnail item-left>
                <img src="../../assets/img/lunar.jpg">
            </ion-thumbnail>
            <h2>Destination : {{ transaction.location?.name }} </h2>
            <p>Price : RM {{ transaction?.price }}</p>
            <p>Pickup Time : {{ transaction?.pickup_time }}</p>
            <button *ngIf="transaction.owner != null" ion-button clear item-right>View</button>
        </ion-item>
        <ion-item *ngIf="transaction.request_type == 2">
            <ion-thumbnail item-left>
                <img src="../../assets/img/car.jpeg">
            </ion-thumbnail>
            <h2> {{ transaction.location?.name }} </h2>
            <p>Price : RM {{ transaction?.price }}</p>
            <button *ngIf="transaction.owner != null" ion-button clear item-right>View</button>
        </ion-item>
    </ion-list>
    <ion-list>
        <br><br><br>
        <h1 *ngIf="_transactions.data.length < 1">No transactions made yet</h1>
    </ion-list>
</ion-content>
