button.btn-transparent {
  background-color: $transparent;
  color: $black;
}
ion-content.menu {
  background-color: $transparent !important;
}

ion-item.menu {
  background-color:$transparent;
}
// ion-list {
//   background-color: rgba(41, 199, 95, 0.75);
// }

button.menu {
  background-color: $transparent;
  color: $black;
}