<ion-header>
    <ion-toolbar>
        <ion-title class="toolbar-background">
            Locations
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
        <ion-item (click)="dismiss(item)" *ngFor="let item of items">
            <ion-avatar item-left>
                <img src="{{ item?.file_path}}" *ngIf="item?.file_path">
                <img src="assets/img/b_no_image_icon.gif" *ngIf="item?.file_path == null">
            </ion-avatar>
            <h2>{{ item?.name }}</h2>
            <p>Distance from your location : <b>{{ item?.distance | number : '1.2-2' }} KM</b></p>
            <p>Total Price : <b>{{ item?.price | currency:'MYR':true:'1.2-2' }}</b></p>
        </ion-item>
    </ion-list>
</ion-content>